<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Source code : <a href="https://github.com/ssolay/AngularEmployeeExperiencePortal" target="_top">GitHub</a>
    </p>
    <p>
        Contact : <a href="https://www.linkedin.com/in/solayappan-solayappan-8304417/" target="_top">ReachSolay</a>
    </p>
    <p>
        Copyright©2018. Solay. All rights reserved
    </p>
</div>